<div>
    <form class="form-general">
                            <h2 class="form-signin-heading">Home</h2>
                            <div>
                            <button type="button" class="btn btn-primary" ng-click=getRequests()>Requests</button>
                            <button type="button" class="btn btn-primary" ng-click=showCategoryForm()>Product Management</button>
                            <button type="button" class="btn btn-primary">Log out</button>
                            </div>
    </form>
</div>