<div class="container-fluid">
	<div class="panel panel-success">
		<div class="panel-heading">
			<div class="panel-title">Request Details</div>
		</div>
		<div class="panel-body" style="text-align: center;">
			<div class="container-fluid">
				<div class="row-fluid no-gutters">
					<div class="col-sm-1">Request ID</div>
					<div class="col-sm-1">User Name</div>
					<div class="col-sm-2">Product Category</div>
					<div class="col-sm-2">Product Sub Category</div>
					<div class="col-sm-2">Product Type</div>
					<div class="col-sm-2">Complaint Status</div>
					<div class="col-sm-2">Create Date</div>
				</div>
				<div class="row-fluid no-gutters">
					<div class="col-sm-1">{{FullRequestDetails.requestId }}</div>
					<div class="col-sm-1">{{FullRequestDetails.userId.firstName}}
						{{FullRequestDetails.userId.lastName}}</div>
					<div class="col-sm-2">
						<select ng-model="selectedProductCategory" class="form-control btn-primary btn btn-default dropdown-toggle" 
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
							>
							<option
								ng-selected="selectedProductCategory">{{FullRequestDetails.fullProductDetails.productCategory.categoryName}}</option>
						</select>
					</div>
					<div class="col-sm-2">
						<select ng-model="selectedProductSubCategory" class="form-control btn-primary btn btn-default dropdown-toggle" 
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
							>
							<option
								ng-selected="selectedProductSubCategory">{{FullRequestDetails.fullProductDetails.productSubCategory.subCategoryName}}</option>
						</select>
					</div>
					<div class="col-sm-2">
						<select ng-model="selectedProductType" class="form-control btn-primary btn btn-default dropdown-toggle" 
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
							>
							<option
								ng-selected="selectedProductType">{{FullRequestDetails.fullProductDetails.productType.typeName}}</option>
						</select>
					</div>
					<div class="col-sm-2">
						<!-- <div class="container-fluid">
							<div class="row-fluid">
								<div class="col-sm-2">{{FullRequestDetails.complaint.complaintStatus
									}}</div>
								<div class="col-sm-1 pull-left">
									<button type="button" class="btn btn-primary"
										ng-click="changeRequestStatus(FullRequestDetails.requestId)">Change
										Status</button>
								</div>
							</div>
						</div> -->
						<select class="form-control btn-primary btn btn-default dropdown-toggle" 
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
							ng-model="selectedComplaintStatus" 
							ng-change="changeRequestStatus(FullRequestDetails.requestId,selectedComplaintStatus)"
							ng-options="status as status for status in complaintStatuses"
							>
							<!--<option
								ng-selected="selectedComplaintStatus">{{FullRequestDetails.complaint.complaintStatus}}</option>-->
						</select>

							<!-- <div class="btn-group" uib-dropdown dropdown-append-to-body>
								<button id="btn-append-to-body" type="button"
									class="btn btn-primary" uib-dropdown-toggle>
									Dropdown on Body <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" uib-dropdown-menu role="menu"
									aria-labelledby="btn-append-to-body">
									<li role="menuitem"><a href="#">--Please Select--</a></li>
									<li role="menuitem"><a href="#">{{FullRequestDetails.complaint.complaintStatus}}</a></li>
								</ul>
							</div> -->

					</div>
					<div class="col-sm-2">{{FullRequestDetails.complaint.createDate
						}}</div>
				</div>
			</div>
		</div>
	</div>
</div>